:markdown
  A Ruby gem for adding Bayesian averages to your Rails projects. What is a Bayesian average?

  A Bayesian average gets rid of the issues caused by averages (means) of small
  datasets or datasets with outliers by taking external information into account.

  Read all the details in the [README](https://github.com/rymo4/bayesian_average/blob/master/README.md).
