:markdown
  In the summer of 2013, I worked at Bitly.

  <img src="images/bitly.png" class="bitly-image"/>

  Known for shortening links, most people don't realize how complex bitly is;
  Through an enormous amount of clicks, bitly has a unique insight into what
  is being shared on the internet. It uses this information to provide data
  analytics to companies so that they can better know and understand their audience.
  Take a look at their [enterprise site](http://www.enterprise.bitly.com/) for more
  info.

  This adds up to computationally complex algorithms that need to run in "realtime",
  distributed systems, massive scale, and even more buzzwords than I can't remember right now.

  They also offer some unique [APIs](http://dev.bitly.com/) that take advantage of their data.

  ## What I Did

  I was on the infrastructure team, which means that I kept all the cogs that make up bitly spinning.

  My day-to-day included:

  * working on [open source bitly libraries](https://github.com/bitly) in Go and Python
  * noticing sudden unexpected behavior via various monitoring techniques, then tracking down, and fixing the issue
  * adding features to a wide array of applications and libraries
  * code review (both reviewing and being reviewed)
  * optimizing slow systems
  * adding monitoring to provide more insight into what is happening with each application
  * brainstorming and implementing solutions to longterm pains (spam, failover planning, production profiling)
