:markdown
  In the summer of 2013, I worked at Bitly.

  <img src="images/bitly.png" class="bitly-image"/>

  Known for shortening links, most people don't realize how complex bitly is;
  Through an enormous amount of clicks, bitly has a unique insight into what
  is being shared on the internet. It uses this information to provide data
  to companies so that they can better know and understand their audience.

  Because they operate at such a massive scale, Bitly's tech is really interesting.
  They are service oriented, distributed across multiple data centers, and write
  as much open source as possible.

  Take a look at [my post](http://bitly.com/ryderbitlyblog) on their dev blog to
  hear about one of the projects that I worked on at Bitly.

  ## What I Did

  I was on the infrastructure team, which means that I kept all the cogs that make up bitly spinning.

  My day-to-day included:

  * working on [open source bitly libraries](https://github.com/bitly) in Go and Python
  * noticing sudden unexpected behavior via various monitoring techniques, then tracking down, and fixing the issue
  * adding features to a wide array of applications and libraries
  * code review (both reviewing and being reviewed)
  * optimizing slow systems
  * adding monitoring to provide more insight into what is happening with each application
  * brainstorming and implementing solutions to longterm pains (spam, failover planning, production profiling)
