:markdown
  This is a project that I'm working on with five friends at Columbia. I'm the lead developer. It's really early in development, but we recently got selected for [IE@Columbia](http://www8.gsb.columbia.edu/innovation/iehome). You can read more about the program [here](http://www4.gsb.columbia.edu/news/item/7329092).

  Videos and images can go viral, but why not writing? People blog, but blogs are disconnected and don't have a network like YouTube to put them in front of people looking for content.

  We want amatuer journalists' work to be seen side by side with large publishers' articles.
  We want readers to have a place to discover and discuss any kind of media relevant to them.
  We think that what you read about defines you, and that your friends are probably interested in discovering your favorite technologies or political views through seeing what you read and what you have to say.
