:markdown
  This is a graph I wrote in CoffeeScript using [d3](d3js.org).
  It's from a coffee tasting site I made in a weekend, but I push updates from time to time.
  It's just to pass the time right now, but might turn into something one day.
  It manipulates SVGs based on data from user rankings (randomly generated here). Checkout the [code](http://github.com/rymo4/coffeenated).

  Inspired by [33coffees](http://www.33coffees.com/).
%iframe{:src => "http://jsfiddle.net/rymo4/bQzBd/show/light/", :allowfullscreen => "allowfullscreen", :frameborder => "0", :style => 'width: 100%; height: 600px;' }
