:markdown
  ![gunslinger](https://raw.github.com/rymo4/gunslinger/master/gunslinger.png)

  A solution for a puzzle game that uses a variety of learning techniques, probability, and game logic.

  Please see the [github repo](https://github.com/rymo4/gunslinger) for more info on the rules and implementation details.
