:markdown
  This is an app that started at a hackathon intended to make sharing a
  saving links fast and easy. Click one button in a bookmarklet, and type
  an email address. At the end of the day all the links that you picked
  will be sent out with thumbnails. If you pick multiple links for the
  same person throughout the day, they will all end up in one email as a
  convenient list.

  Here is what the email mailer looks like:

  ![Linkful](images/linkful.png)
