:markdown

  ![8 puzzle](images/8_puzzle.png)

  This is a solution to the N Puzzle problem (8 puzzle shown above, for 8 tiles), written in Ruby.
  The program outputs the shortest list
  of moves to change the start state into the desired end state. In my examples, N=15.

  The problem is intractible at N=15 with naive approaches (especially in Ruby!), making it an interesting
  problem leveraging heuristics and making tradeoffs between optimality (non shortest lists of moves) and speed.

  While my best program (a version of A* search) does not guarantee optimal solutions, in actuality I have not
  had it produce a move set that is non optimal at N=5.


