:markdown
  In summer 2012, I was a backend engineering intern at Paperless Post. After the summer, I worked there part time (as much as my school schedule allowed) until the summer of 2013.

  Paperless Post is a company that makes beautiful web based (and recently printed too!) cards and invitations. With 3D rending, animated envelopes, photo effects, and a ridiculous amount of customization, the experience it truly unrivaled.

  ![Paperless Post Card](http://assets4.paperlesspost.com/card_sides/carousel_tall/27753342/19da19205040012fe0b0005056b72870-32-3955838.jpg)

  It's an awesome company with a lot of amazing people behind it. I worked mostly on the Rails backend, but also wrote some JavaScript.

  Checkout the [dev blog](http://dev.paperlesspost.com).
