:markdown
  An experimental JavaScript game/visualizer using openGL.

  ![pixel](images/pixel.png)

  You are a pixel, and the goal of the game is to jump around, explore, and collect mushrooms. Every time you collect
  a mushroom, a shader effect is triggered making the game look different than it was before.

  ## Features:

  * Randomly generated environment
  * Custom shaders written in GLSL
  * Particle effects (stars and particle trail)
  * Ray based collision detection
  * Indoor and outdoor areas
