:markdown
  A quick and easy way to match students and professors for the most
  successful project collaborations.

  This is a project that I undertook in my sophomore year. It was started
  at Columbia [Devfest](http://adicu.com/devfest2012), where we won best
  business model. It is currently open for Columbia students, and has
  professor and graduate student posted research projects from multiple
  universities and 16 different departments listed.

  ![Research Match](images/researchmatch.png)
