:markdown
  This is a startup that I'm working on with fellow undergrads at Columbia. I'm 
  the lead developer and focus on backend systems. We recently went through 
  [IE@Columbia](http://www8.gsb.columbia.edu/innovation/iehome), a 
  university-wide accelerator program where we were the only undergrads.
  You can read more about the program 
  [here](http://www4.gsb.columbia.edu/news/item/7329092).

  The site is currently live, but in Alpha.

  Sprawler is a site to read, share and discuss news with friends, family, 
  followers and influencers. It gives you systematic access to all of 
  your favorite blogs, publications and journalists. You can organize these 
  sources into sections on subjects that interest you personally (i.e. broad 
  topics like Politics or Music, or specific ones like Apple 
  Products or Jay Z).

  Essentially you build a customized, online 
  newspaper for yourself. Because users can effortlessly see each other's unique
  view of the news, while customizing the news for 
  myself, I am curating for my entire social sphere. Our hope is that average 
  users will be able to create pages for themselves that reflect 
  their unique take on current events so that average people can become 
  influential publishers.
