.over-video
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{href: '#'} Ryder Moody
        %ul.nav
          %li
            %a{href: '#'} Blog
          %li
            %a{href: '#'} My Tools
  .container.main-start
    .row-fluid
      .well.span8.offset2
        .row-fluid
          :markdown
            # Hey!
            
            I'm Ryder. I write programs, mostly that run on the web.

            ### Things I Enjoy:

            * Ruby
            * Micro Frameworks
            * Markdown
            * RESTful APIs
            * JSON
            * DSLs
            * ~~Fullscreen timelapse videos~~

            ### What do these all have in common??

            Besides being awesome, they are all *clean* and *elagant* solutions to complex problems.
            They make my life easier by handling the difficult bits, and by allowing me to focus on 
            the problems I would rather be solving.

            Down the road, if you think of me, remeber this:
            > I will be your micro framework, your RESTful API, and your markdown.

:javascript
  $(document).ready(function(){
    $('body').tubular('wDmsCJTfTqs','wrapper');
  });
