.over-video
  .navbar
    .navbar-inner
      .container
        %a.brand.go2#home{href: '#'} Ryder Moody
        .pull-right
          %button{:id => 'videoPause', :type => "button", :class => "btn", 'data-toggle' => "button"}
            %i.icon-pause
          %button{:id => 'videoMute', :type => "button", :class => "btn", 'data-toggle' => "button"}
            %i.icon-volume-off
  .container.main-start
    .row-fluid
      .well.span8.offset2
        .row-fluid.page.home
          :markdown
            # Hey!
            
            I'm Ryder. I write programs, mostly that run on the web. This site is **under construction**, but I'll tell you a little bit about me in the meantime.

            ### Things I Enjoy, Use, and Create

            * Ruby
            * Rails
            * Micro Frameworks
            * Markdown
            * RESTful APIs
            * Coffeescript
            * DSLs
            * Fullscreen timelapse videos

            ### Contact Me

            If you want to get a hold of me, shoot me an email at [rlm2155@columbia.edu](mailto:rlm2155@columbia.edu).

            ### About This Site

            Written in [Sinatra](sinatrarb.com), [haml](haml.info)/[markdown](http://en.wikipedia.org/wiki/Markdown) and js.
            I hacked together this background video with some js and and the youtube API.
            I stuck that pause button up there because it can be annoying and turn on your laptop fans.
            The video will go away when I have the time to add more content, don't worry.

          %p
            If you want to see somthing random that I made the other day, click
            %a.go2#coffee{href: '#'} here.

        .row-fluid.page.hide.coffee
          :markdown
            ## What's This?

            This is a graph designed in javascript (well, coffeescript) using [d3](d3js.org).
            It is a mockup for a coffee tasting app that may or may not ever get built.
            It manipulates SVGs based on data from user rankings (randomly generated for now). Checkout the [jsfiddle](http://jsfiddle.net/rymo4/bQzBd/).
            Inspired by [33coffees](http://www.33coffees.com/).
          %iframe{:src => "http://jsfiddle.net/rymo4/bQzBd/show/light/", :allowfullscreen => "allowfullscreen", :frameborder => "0", :style => 'width: 100%; height: 600px;' }
