%img{class: 'background', src: '/images/space.jpg', style: 'display:none;' }
.over-video
  .navbar
    .navbar-inner
      .container
        %a.brand.go2#home{href: '#'} Ryder Moody
        %ul.pull-right.nav
          %li
            %a.go2#coffee{href: '#'} Coffeenated
          %li
            %a.go2#civ_net{href: '#'} The Civic Network
          %li
            %a.go2#paperless{href: '#'} Paperless Post
          %li
            %a{href: 'http://www.github.com/rymo4'} Github

  .container.main-start
    .row-fluid
      .well.span10.offset1
        .row-fluid.page.home
          :markdown
            # Hey!
            
            I'm Ryder. I write programs, mostly that run on the web. I'll tell you a little bit about myself.
            
            Right now I'm majoring in CS at Columbia, working for [Paperless Post](http://www.paperlesspost.com), and bootstrapping a startup with some friends in [IE@Columbia](http://www8.gsb.columbia.edu/innovation/iehome), a selective Columbia accelerator program. Click the links up above for more info.

            ### These Are A Few Of My Favorite Things

            * Ruby & Rails
            * CoffeeScript
            * MongoDB, Postgres & Redis
            * Vim
            * HAML
            * d3, Underscore & Angular

            ### Contact Me

            If you want to get a hold of me, shoot me an email at [rlm2155@columbia.edu](mailto:rlm2155@columbia.edu).

        .row-fluid.page.hide.coffee
          :markdown
            ## What's This?

            This is a graph I wrote in CoffeeScript using [d3](d3js.org).
            It's from a coffee tasting site I made in a weekend, but I push updates from time to time.
            It's just to pass the time right now, but might turn into something one day.
            It manipulates SVGs based on data from user rankings (randomly generated here). Checkout the [code](http://github.com/rymo4/coffeenated).

            Inspired by [33coffees](http://www.33coffees.com/).
          %iframe{:src => "http://jsfiddle.net/rymo4/bQzBd/show/light/", :allowfullscreen => "allowfullscreen", :frameborder => "0", :style => 'width: 100%; height: 600px;' }
        .row-fluid.page.hide.civ_net
          :markdown
            ## The Civic Network

            This is a project that I'm working on with five friends at Columbia. I'm the lead developer. It's really early in development, but we recently got selected for [IE@Columbia](http://www8.gsb.columbia.edu/innovation/iehome).

            Videos and images can go viral, but why not writing? People blog, but blogs are disconnected and don't have a network like YouTube to put them in front of people looking for content.

            We want amatuer journalists' work to be seen side by side with large publishers' articles.
            We want readers to have a place to discover and discuss any kind of media relevant to them.
            We think that what you read about defines you, and that your friends are probably interested in discovering your favorite technologies or political views through seeing what you read and what you have to say.
        .row-fluid.page.hide.paperless
          :markdown
            ## Paperless Post

            In summer 2012, I was a backend engineering intern at Paperless Post. Since then, I've been working there part time (as much as my school schedule allows).
            Paperless Post is a company that makes beautiful web based (and recently printed too!) cards and invitations. With 3D rending, animated envelopes, photo effects, and a ridiculous amount of customization, the experience it truely unrivaled.

            ![Paperless Post Card](http://assets4.paperlesspost.com/card_sides/carousel_tall/27753342/19da19205040012fe0b0005056b72870-32-3955838.jpg)

            It's an awesome company with a lot of amazing people behind it. I work mostly on the Rails and Postgres backend, but also write JavaScript from time to time. 

            Checkout the [site](http://www.paperlesspost.com) and [dev blog](http://dev.paperlesspost.com).
