!!!
%html
  %head
    %script{ src: '/javascripts/jquery1.8.min.js' }
    %script{ src: '/javascripts/images_loaded.js' }
    %script{ src: '/javascripts/bootstrap.min.js' }
    %script{ src: '/javascripts/bootstrap-btns.min.js' }
    %script{ src: '/javascripts/pages.js' }
    %link{ href: '/styles/bootstrap.min.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: '/styles/base.css', rel: 'stylesheet', type: 'text/css' }
    %title= @title || "Ryder Moody | Portfolio"
  %body
    = yield
